body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}

#app {
    width: 100%;
    height: 100vh;
    aspect-ratio: 4/3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    aspect-ratio: 4/3;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #app {
      aspect-ratio: 3/4;
    }
    .game-container {
        aspect-ratio: 3/4;
    }
  }