body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #9b1313;
}

#app {
    display: flex;
    width: 90%;
    height: 100vh;
    margin: 75px auto 0 auto;
    /* aspect-ratio: 3/2; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    /* aspect-ratio: 3/2; */
}

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #app {
      aspect-ratio: 2/3;
    }
    .game-container {
        aspect-ratio: 2/3;
    }
  } */