body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #112725;
    display: flex;
    flex-flow: column nowrap;
}

nav {
    width: 100%;
    background-color: #112725;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: #128884 2px solid;
    box-sizing: border-box;
}

h2 {
    margin: 0;
}

#app {
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 75px);
    aspect-ratio: 3/2;
    justify-content: center;
    align-items: center;
}

#game-container {
    display: flex;
    margin: 0 auto;
    aspect-ratio: 3/2;
    max-height: calc(100vh - 75px);
    justify-content: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    #app {
      aspect-ratio: 2/3;
    }
    #game-container {
        aspect-ratio: 2/3;
    }
  }